.board {
    font-family: Lato, sans-serif;
    font-weight: bold;
}
.border-line, .cell-line, .box-line, .diagonal-line {
    stroke: #202020;
    fill: none;
}
.border-line {
	stroke-width: 3.5;
    stroke-linejoin: bevel;
}
.box-line {
	stroke-width: 3.5;
}
.cell-line {
	stroke: #606060;
	stroke-width: 1.5;
}
.diagonal-line {
	stroke: #609f609f;
	stroke-width: 2.5;
}
.given, .digit {
    font-size: 70px;
    text-anchor: middle;
    dominant-baseline: central;
}
.pencilmark {
    font-size: 30px;
    text-anchor: middle;
    dominant-baseline: central;
}
.given {
    fill: #303030;
}
.digit, .pencilmark {
    fill: #408fff;
}
.selection {
    fill: #408fff10;
}
.selection-line {
    stroke: #408fff7f;
    fill: none;
    stroke-width: 15;
}
.thermo-bulb {
    fill: #cfcfcf;
}
.thermo-line {
    stroke: #cfcfcf;
    fill: none;
	stroke-width: 30;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.arrow-bulb, .arrow-line, .arrow-cap {
    stroke: #7f7f7f;
    stroke-width: 3.5;
}
.arrow-bulb {
    fill: #ffffff7f;
}
.arrow-line {
    fill: none;
    stroke-linejoin: round;
}
.arrow-cap {
    fill: none;
}
.arrow-mask-white, .arrow-mask-black, .arrow-bulbline-fill {
    fill: none;
    stroke-width: 80;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.arrow-mask-white {
    stroke: #ffffff;
}
.arrow-mask-black {
    stroke: #000000;
    stroke-width: 73;
}
.arrow-bulbline-fill {
    stroke: #ffffff7f;
}
.arrow-bulbline-stroke {
    fill: #7f7f7f;
}
.even-square {
    fill: #7f9fbf7f;
}
.odd-circle {
    fill: #bf9f7f7f;
}
.cage-line {
    stroke: #202020;
    fill: none;
	stroke-width: 2;
    stroke-linejoin: round;
    stroke-dasharray: 6 4;
    stroke-dashoffset: 3;
}
.cage-sum {
    fill: #303030;
    font-size: 20px;
    dominant-baseline: hanging;
}
.quad-digits, .difference-value, .ratio-value {
    fill: #303030;
    font-size: 20px;
    text-anchor: middle;
    dominant-baseline: central;
}
.quad-circle {
    stroke: #202020;
    fill: #ffffff;
    stroke-width: 1.5;
}
.difference-circle {
    stroke: #202020;
    fill: #ffffff;
    stroke-width: 2.5;
}
.ratio-circle {
    stroke: #202020;
    fill: #202020;
    stroke-width: 2.5;
}
.ratio-value {
    fill: #dfdfdf;
}
.xv-circle {
    fill: #ffffff;
}
.xv-value {
    fill: #303030;
    font-size: 30px;
    font-weight: normal;
    text-anchor: middle;
    dominant-baseline: central;
}
.little-killer-arrow {
    stroke: #202020;
    fill: none;
	stroke-width: 3.5;
}
.little-killer-sum {
    fill: #303030;
    font-size: 50px;
    text-anchor: middle;
    dominant-baseline: central;
}