:root {
    --grid-unit: min(var(--dvw) / 9.15, var(--dvh) / 9.15 * 915 / 1380);
}
.page {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(var(--grid-unit) * 1380);
}
.content {
    margin-right: 0;
}
.sidebar {
    flex-direction: row;
    justify-content: start;
    margin: calc(20 * var(--grid-unit)) 0 0;
    min-height: 0;
}
.panel {
    margin: calc(10 * var(--grid-unit));
}
.rules {
    margin-bottom: calc(10 * var(--grid-unit));
}
#actions-panel {
    display: none;
}