:root {
    --grid-unit: calc(calc(95vh) / 900);
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.content, .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 calc(10 * var(--grid-unit));
}
#board-container {
    width: calc(900 * var(--grid-unit));
    height: calc(900 * var(--grid-unit));
    margin: 0 calc(10 * var(--grid-unit));
    overflow: hidden;
}
#noscript {
    font-family: Lato, sans-serif;
    font-size: calc(36 * var(--grid-unit));
    text-align: center;
    line-height: 1;
    width: 100%;
    margin-top: calc(432 * var(--grid-unit));
}
.board {
    vertical-align: top;
    width: 100%;
    height: 100%;
    user-select: none;
}
.panel {
    display: flex;
    flex-direction: column;
    margin: calc(10 * var(--grid-unit)) 0;
}
.panel-row {
    display: flex;
}
button {
    font-family: Lato, sans-serif;
    font-size: calc(30 * var(--grid-unit));
    color: #ffffff;
    background: #607fbf;
    border: 0;
    border-radius: calc(10 * var(--grid-unit));
    width: max-content;
    margin: calc(5 * var(--grid-unit));
    padding: calc(10 * var(--grid-unit)) calc(20 * var(--grid-unit));
    cursor: pointer;
}
button:active {
    color: #dfdfdf;
    background: #5070af;
}
.digit-button {
    font-size: calc(60 * var(--grid-unit));
    width: calc(90 * var(--grid-unit));
    height: calc(90 * var(--grid-unit));
    padding: 0;
}
.delete-button {
    font-size: calc(50 * var(--grid-unit));
    width: calc(290 * var(--grid-unit));
    height: calc(90 * var(--grid-unit));
    padding: 0;
}
.pause-button, .play-button {
    font-size: calc(30 * var(--grid-unit));
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: calc(50 * var(--grid-unit));
    height: calc(50 * var(--grid-unit));
    margin-right: 0;
}
.pause-button {
    padding: 0 0 calc(5 * var(--grid-unit)) calc(4 * var(--grid-unit));
}
.play-button {
    font-size: calc(25 * var(--grid-unit));
    padding: 0 0 calc(1 * var(--grid-unit)) calc(6 * var(--grid-unit));
}
.timer-time {
    font-family: Lato, sans-serif;
    font-size: calc(30 * var(--grid-unit));
    text-align: right;
    color: #505050;
    background: #ffffff;
    border: calc(3 * var(--grid-unit)) solid #607fbf;
    box-sizing: border-box;
    width: calc(190 * var(--grid-unit));
    height: calc(50 * var(--grid-unit));
    margin: calc(5 * var(--grid-unit)) 0;
    padding: 0 calc(15 * var(--grid-unit));
    cursor: text;
}
.reset-button {
    font-size: calc(30 * var(--grid-unit));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: calc(50 * var(--grid-unit));
    height: calc(50 * var(--grid-unit));
    padding: 0 calc(3 * var(--grid-unit)) 0 0;
    margin-left: 0;
}
#pause-overlay {
    height: 0;
    z-index: 1;
    display: none;
    cursor: pointer;
}
.pause-overlay-panel {
    font-family: Lato, sans-serif;
    font-size: calc(100 * var(--grid-unit));
    font-weight: bold;
    color: #303030;
    border: calc(3 * var(--grid-unit)) solid #607fbf;
    box-sizing: border-box;
    width: calc(900 * var(--grid-unit));
    height: calc(900 * var(--grid-unit));
    margin: 0 calc(10 * var(--grid-unit));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pause-blur {
    filter: blur(calc(50 * var(--grid-unit))) grayscale(100%);
}